@import 'yeticss'

// vars
bodyBgColor = #212d34
// bodyBgColor = #222
basicFontSize = 16px

// @font-face
//   font-family Operator;
//   src url('OperatorMono-Book.woff') format('woff');
//   font-weight normal;
//   font-style normal;

body
  // font-family Operator
  background bodyBgColor
  color white
  font-size basicFontSize
  
h1, h2, h3
  font-family Operator
  color white
  
#root
  padding 20px